{% extends 'base.html' %} 
{% block title %}Andelus | Product Detail{% endblock %} 
{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        {% if page == 'book' %}
        <h1 class="h3 mb-0 text-gray-800">Books </h1>
        {% elif page == 'item' %}
        <h1 class="h3 mb-0 text-gray-800">Items</h1>
        {% endif %}
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3 bg-info text-white">
            <h6 class="m-0 font-weight-bold">Product Details</h6>
        </div>
        <div class="card-body">
            <div class="row no-gutters mb-4">
                <div class="col-md-4 text-center">
                    
                    <img src="{{ product.image.url }}" class="img-fluid rounded mt-3 mb-3" id="modal-image" style="max-height: 300px; max-width:300px;" alt="Product Image">
                </div>
                <div class="col-md-8">
                    <div class="text-left">
                        <h2 class="card-title">{{ product.book_name }}</h2>
                        <p class="card-text lead">{{ product.description }}</p>

                        {{ form.as_p }}

                        <div class="d-flex justify-content-between align-items-center mt-3">
                            <div>
                                <a href="{% url 'index' %}" class="btn btn-secondary"><i class="fas fa-home"></i> Home</a>
                            </div>

                            <div>
                                {% if page == 'book' %}
                                <input type="hidden" value="book" id="type">
                                {% elif page == 'item' %}
                                <input type="hidden" value="item" id="type">
                                {% endif %}
                                {% if request.user.groups.all.0.name != 'Custodian' %}
                                    <button type="button" value="{{ product.id }}" class="btn btn-info" id="aadd-list"><i class="fas fa-list"></i> Add To List</button>
                                {% else %}
                                    <button type="button" value="{{ product.id }}" class="btn btn-info" id="add-list"><i class="fas fa-list"></i> Add To List</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->

<script>
    function updateSubunitQuantity() {
        var subunitField = document.getElementById('id_subunit');
        var subunitQuantityField = document.getElementById('id_subunit_quantity');
        var quantityField = document.getElementById('id_quantity');
    
        if (subunitField.value === 'none') {
            subunitQuantityField.readOnly = true;
            subunitQuantityField.value = quantityField.value;
        } else {
            subunitQuantityField.readOnly = false;
        }
    }
    
    document.addEventListener('DOMContentLoaded', function() {
        updateSubunitQuantity();
    
        var subunitField = document.getElementById('id_subunit');
        var quantityField = document.getElementById('id_quantity');
    
        subunitField.addEventListener('change', updateSubunitQuantity);
        quantityField.addEventListener('input', function() {
            updateSubunitQuantity();
        });
    });

    // Check if button pressed
    {% comment %} $(document).on('click', '#add-list', function(e){
        e.preventDefault();

        // Retrieve values from form fields
        var unit = $('#id_unit').val();
        var price = $('#id_price').val();

        // Check if unit and price are selected/entered
        if (unit && price) {
            // If unit and price are selected/entered, proceed with AJAX call
            $.ajax({
                type: 'POST',
                url: '{% url 'list_add' %}',
                data: {
                    product_id: $('#add-list').val(),
                    product_type: $('#type').val(),
                    product_quantity: $('#id_quantity').val(),
                    product_unit: unit,
                    product_price: price,
                    product_subunit: $('#id_subunit').val(),
                    product_subunit_quantity: $('#id_subunit_quantity').val(),
                    product_tax: $('#id_tax').val(),
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    action: 'post'
                },
                success: function(json){
                    console.log(json.qty)
                    document.getElementById("list_quantity").textContent = json.qty
                    // Display a success message
                    var productType = $('#type').val();
                    if (productType === 'book') {
                        window.location.href = '{% url 'book_store' %}';
                    } else if (productType === 'item') {
                        window.location.href = '{% url 'item_store' %}';
                    }
                },
                error: function(xhr, errmsg, err){
                    console.log(err);
                }
            });
        } else {
            // If unit or price is not selected/entered, display an alert message
            alert('Please select unit and enter price before adding to the list.');
        }
    });
     {% endcomment %}
    
     $(document).on('click', '#add-list', function(e) {
        e.preventDefault();
    
        // Retrieve values from form fields
        var unit = $('#id_unit').val().trim();
        var price = parseFloat($('#id_price').val());
        var unitField = $('#id_unit');
        var priceField = $('#id_price');
        
        var quantity = $('#id_quantity').val().trim();
        var quantityField = $('#id_quantity');
        var subunit = $('#id_subunit').val().trim();
        var subunitField = $('#id_subunit');
        var subunitQuantityField = $('#id_subunit_quantity');
        var subunitQuantity = $('#id_subunit_quantity').val().trim();
    
        // Check if unit and price are selected/entered
        if (unit && !isNaN(price) && quantity > 0 && subunit && subunitQuantity > 0) {
            // If unit and price are selected/entered, proceed with AJAX call
            $.ajax({
                type: 'POST',
                url: '{% url 'list_add' %}',
                data: {
                    product_id: $('#add-list').val(),
                    product_type: $('#type').val(),
                    product_quantity: $('#id_quantity').val(),
                    product_unit: unit,
                    product_price: price,
                    product_subunit: $('#id_subunit').val(),
                    product_subunit_quantity: $('#id_subunit_quantity').val(),
                    product_tax: $('#id_tax').val(),
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    action: 'post'
                },
                success: function(json) {
                    if (json && json.qty !== undefined) {
                        $('#list_quantity').text(json.qty);
                        var productType = $('#type').val();
                        if (productType === 'book') {
                            window.location.href = '{% url 'book_store' %}';
                        } else if (productType === 'item') {
                            window.location.href = '{% url 'item_store' %}';
                        }
                    } else {
                        messages.error('{{"Invalid response from server."}}'); // Assuming you're using Django's messages framework
              
                    }
                },
                error: function(xhr, errmsg, err) {
                    showError('Error occurred while processing your request. Please try again later.');
                    console.log(xhr.status + ": " + xhr.responseText); // Log detailed error message
                }
            });
        }else {
            // Show error message next to the input field
            if (!unit ) {
                showInputError(unitField, 'Please select a unit.');
                alertify.error('Please select a unit.');
            } else {
                hideInputError(unitField);
            }
            if (!subunit ) {
                showInputError(subunitField, 'Please select a Sub_unit.');
                alertify.error('Please select a Sub_unit.');
            } else {
                hideInputError(subunitField);
            }
    
            if (isNaN(price) || price < 0) {
                showInputError(priceField, 'Please enter a price.');
                alertify.error('Please enter a price.');
            } else {
                hideInputError(priceField);
            }
            if (isNaN(quantity) || quantity <= 0) {
                showInputError(quantityField, 'Please enter Quantity.');
                alertify.error('Please enter Quantity.');
            } else {
                hideInputError(quantityField);
            }
            if (isNaN(subunitQuantity) || subunitQuantity <= 0) {
                showInputError(subunitQuantityField, 'Please enter Quantity.');
                alertify.error('Please enter Sub_Quantity.');
            } else {
                hideInputError(subunitQuantityField);
            }
            
        }
    });
    
    function showInputError(inputField, message) {
        // Show error message next to the input field
        inputField.addClass('is-invalid');
        inputField.next('.invalid-feedback').text(message).show();
    }
    
    function hideInputError(inputField) {
        // Hide error message and remove validation styling
        inputField.removeClass('is-invalid');
        inputField.next('.invalid-feedback').text('').hide();
    }
    
    function showError(message) {
        // Display error message using Alertify
        alertify.alert('Error', message);
    }
    
    
     $(document).on('click', '#aadd-list', function(e){
        e.preventDefault();
        // Retrieve values from form fields
        var unit = $('#id_unit').val().trim();
        var quantity = parseInt($('#id_quantity').val().trim());
        var subunit = $('#id_subunit').val().trim();
        var subunitQuantity = $('#id_subunit_quantity').val().trim();
        var unitField = $('#id_unit');
        var quantityField = $('#id_quantity');
        var subunitField = $('#id_subunit');
        var subunitQuantityField = $('#id_subunit_quantity');
    
        var productt_quantity = parseInt('{{ product_quantity }}');
        if (unit && quantity > 0  && subunit && subunitQuantity > 0 && parseInt(subunitQuantity) <= productt_quantity)
        {   
            $.ajax({
                type: 'POST',
                url: '{% url 'list_add' %}',
                data: {
                    product_id: $('#aadd-list').val(),
                    product_type: $('#type').val(),
                    product_quantity: $('#id_quantity').val(),
                    product_unit: unit,
                    product_subunit: $('#id_subunit').val(),
                    product_subunit_quantity: $('#id_subunit_quantity').val(),
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    action: 'post'
                },
                success: function(json){
                    if (json && json.qty !== undefined) {
                        $('#list_quantity').text(json.qty);
                        var productType = $('#type').val();
                        if (productType === 'book') {
                            window.location.href = '{% url 'book_store' %}';
                        } else if (productType === 'item') {
                            window.location.href = '{% url 'item_store' %}';
                        }
                    } else {
                        messages.error('{{"Invalid response from server."}}'); // Assuming you're using Django's messages framework
              
                    }
                },
                error: function(xhr, errmsg, err) {
                    showError('Error occurred while processing your request. Please try again later.');
                    console.log(xhr.status + ": " + xhr.responseText); // Log detailed error message
                }
            });
        
        } else {
            // Show error message next to the input field
            if (!unit ) {
                showInputError(unitField, 'Please select a unit.');
                alertify.error('Please select a unit.');
            } else {
                hideInputError(unitField);
            }
            if (!subunit ) {
                showInputError(subunitField, 'Please select a Sub_unit.');
                alertify.error('Please select a Sub_unit.');
            } else {
                hideInputError(subunitField);
            }
    
            if (isNaN(quantity) || quantity <= 0) {
                showInputError(quantityField, 'Please enter Quantity.');
                alertify.error('Please enter Quantity.');
            } else {
                hideInputError(quantityField);
            }
            if (isNaN(subunitQuantity) || subunitQuantity <= 0) {
                showInputError(subunitQuantityField, 'Please enter Sub Quantity.');
                alertify.error('Please enter Sub_Quantity.');
            } else {
                hideInputError(subunitQuantityField);
            }
            if (parseInt(subunitQuantity) > productt_quantity) {
                showInputError(subunitQuantityField, 'Please reduce Quantity.');
                alertify.warning('Please reduce the quantity.');
            }
        }
    });

    function showInputError(inputField, message) {
        // Show error message next to the input field
        inputField.addClass('is-invalid');
        inputField.next('.invalid-feedback').text(message).show();
    }
    
    function hideInputError(inputField) {
        // Hide error message and remove validation styling
        inputField.removeClass('is-invalid');
        inputField.next('.invalid-feedback').text('').hide();
    }
    
    function showError(message) {
        // Display error message using Alertify
        alertify.alert('Error', message);
    }
    {% comment %} $(document).on('click', '#aadd-list', function(e){
        e.preventDefault();
        // Retrieve values from form fields
        var unit = $('#id_unit').val();
        var quantity = $('#id_quantity').val();
        var product_quantity = {{ product_quantity }}
        var errorMessages = [];
        
        // Check if unit is selected
        if (!unit) {
            errorMessages.push('Please select a unit.');
        }
        
        // Check if quantity is valid
        if (!quantity || parseInt(quantity) > product_quantity) {
            errorMessages.push('Please enter a valid quantity less than or equal to ' + product_quantity + '.');
        }
        console.log(errorMessages[1])
        if (errorMessages.length === 0) {
            // If no errors, proceed with AJAX call
            $.ajax({
                type: 'POST',
                url: '{% url 'list_add' %}',
                data: {
                    product_id: $('#aadd-list').val(),
                    product_type: $('#type').val(),
                    product_quantity: quantity,
                    product_unit: unit,
                    product_subunit: $('#id_subunit').val(),
                    product_subunit_quantity: $('#id_subunit_quantity').val(),
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    action: 'post'
                },
                success: function(json){
                    console.log(json.qty)
                    document.getElementById("list_quantity").textContent = json.qty
                },
                error: function(xhr, errmsg, err){
                    console.log(err);
                }
            });
        } else {
            // Display error messages next to the respective input fields
            if (!unit) {
                $('#id_unit').next('.error-message').text(errorMessages[0]).show();
            }
            if (!quantity || parseInt(quantity) > product_quantity) {
                console.log("asdsda")
                $('#id_quantity').next('.error-message').text(errorMessages[1]).show();
            }
        }
    });
      {% endcomment %}
    
</script>
{% endblock %}
