{% extends 'base.html' %} 
{% block title %}Andelus | Store_detail{% endblock %} 
{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
     <!-- Page Heading -->
      <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Andelus Stoddre Detail </h1>
      </div>

  {% if product.is_book %}
      <!-- DataTales Example -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-info">Edit " {{product.books}} " From Book Store</h6>
        </div>
        <div class="card-body">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% comment %} {{book_form.as_p}} {% endcomment %}
            {% for field in book_form %}
              <div class="form-group">
                  {{ field.label_tag }}
                  {% if field.name == 'image' %}
                      <div class="custom-file">
                          <input type="file" class="custom-file-input" id="{{ field.id }}" name="{{ field.name }}" onchange="updateFileName(this)">
                          <label class="custom-file-label" for="{{ field.id }}">Choose file</label>
                      </div>
                      <script>
                        function updateFileName(input) {
                            var fileName = input.files[0].name;
                            var label = input.nextElementSibling;
                            label.innerHTML = fileName;
                        }
                      </script>
                  {% else %}
                      {{ field }}
                  {% endif %}
              </div>
            {% endfor %}
              {{store_form.as_p}}
            <button type="submit" class="btn btn-success"> Update </button>
          </form>
        </div>
      </div>

  {% elif product.is_item %}
      <!-- DataTales Example -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-info">List of Items</h6>
        </div>
        <div class="card-body">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {% comment %} {{item_form.as_p}} {% endcomment %}
            {% for field in item_form %}
            <div class="form-group">
                {% if field.name == 'image' %}
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="{{ field.id }}" name="{{ field.name }}">
                        <label class="custom-file-label" for="{{ field.id }}">Choose file</label>
                    </div>
                    <script>
                        document.getElementById("{{ field.id }}").addEventListener("change", function() {
                            var fileName = this.files[0].name;
                            var label = this.nextElementSibling;
                            label.innerHTML = fileName;
                        });
                    </script>
                {% else %}
                    {{ field.label_tag }}
                    {{ field }}
                {% endif %}
            </div>
            {% endfor %}
                {{store_form.as_p}}
            <button type="submit" class="btn btn-success"> Update </button>
          </form>
        </div>
      </div>


  {% endif %}

</div>
<!-- /.container-fluid -->
{% endblock %}
