{% extends 'base.html' %} 
{% block title %}Andelus | Order{% endblock %} 
{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
  {% if page == 'gebi' %}

     {% if request.user.groups.all.0.name == 'Custodian' %}
      <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h4 class="m-0 font-weight-bold text-info">አንደሉስ Store ገቢ መጠይቅ ዝርዝር </h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr class="text-center bg-info text-white">
                            <th>No</th>
                            <th>Date</th>
                            <th>የተገዛለት ክፍል</th>
                            <th>Orders</th>
                            <th>ያስረከበው</th>
                            <th>የተረከበው</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr class="text-center ">
                            <th>No</th>
                            <th>Date</th>
                            <th>የተገዛለት ክፍል</th>
                            <th>Orders</th>
                            <th>ያስረከበው</th>
                            <th>የተረከበው</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for order in order_group %}
                        <tr>
                            <td class="align-middle text-center">{{ forloop.counter }}</td>
                            <td class="align-middle text-center">{{ order.date }}</td>
                            <td class="align-middle text-center">{{ order.order_for }}</td>
                            <td class="align-middle">
                              <ul class="list-group">
                                  {% for product in order.orders.all %}
                                    <li class="list-group-item">
                                        {% if product.books %}
                                        {{ product.books }} - Qty: {{ product.subunit_quantity }}
                                        {% elif product.items %}
                                        {{ product.items }} - Qty: {{ product.subunit_quantity }} 
                                        {% endif %}
                                    </li>
                                  {% endfor %}
                              </ul>
                            </td>
                            <td class="align-middle text-center">{{ order.order_by }}</td>
                            <td class="align-middle text-center">{{ order.recieved_by }}</td>
                            <td class="align-middle text-center">
                              {% if order.status == 'Pending' %}
                                <span class="badge badge-primary list-group"><i class="fas fa-exclamation-triangle mr-1"></i> {{ order.status }}</span>
                              {% elif order.status == 'Accepted' %}
                                <span class="badge badge-warning list-group"><i class="fas fa-check-circle mr-1"></i> {{ order.status }}</span>
                              {% elif order.status == 'Complete' %}
                                <span class="badge badge-success list-group"><i class="fas fa-check-double mr-1"></i> {{ order.status }}</span>
                              {% else %}
                                <span>{{ order.status }}</span>
                              {% endif %}
                            </td>
                            <td class="align-middle text-center">
                              <a href="{% url 'order_detail' order.id %}" class="btn btn-info btn-sm btn-icon-split">
                                  <span class="icon text-white-50">
                                      <i class="fas fa-info-circle"></i>
                                  </span>
                                  <span class="text">Detail</span>
                              </a>
                          </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
      </div>
  
     {% elif request.user.groups.all.0.name == 'Manager' %}
      <div class="card shadow mb-4">
        <div class="card-header py-3"> 
          <h4 class="m-0 font-weight-bold text-info">አንደሉስ Store ገቢ መጠይቅ ዝርዝር </h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr class="text-center bg-info text-white">
                          <th>No</th>
                          <th>Date</th>
                          <th>የተገዛለት ክፍል</th>
                          <th>Orders</th>
                          <th>ያስረከበው</th>
                          <th>የተረከበው</th>
                          <th>Status</th>
                          <th>Action</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr class="text-center">
                          <th>No</th>
                          <th>Date</th>
                          <th>የተገዛለት ክፍል</th>
                          <th>Orders</th>
                          <th>ያስረከበው</th>
                          <th>የተረከበው</th>
                          <th>Status</th>
                          <th>Action</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for order in order_group %}
                        <tr>
                            <td class="align-middle text-center">{{ forloop.counter }}</td>
                            <td class="align-middle text-center">{{ order.date }}</td>
                            <td class="align-middle text-center">{{ order.order_for }}</td>
                            <td class="align-middle">
                              <ul class="list-group">
                                  {% for product in order.orders.all %}
                                    <li class="list-group-item">
                                        {% if product.books %}
                                        {{ product.books }} - Qty: {{ product.subunit_quantity }}
                                        {% elif product.items %}
                                        {{ product.items }} - Qty: {{ product.subunit_quantity }} 
                                        {% endif %}
                                    </li>
                                  {% endfor %}
                              </ul>
                            </td>
                            <td class="align-middle text-center">{{ order.order_by }}</td>
                            <td class="align-middle text-center">{{ order.recieved_by }}</td>
                            <td class="align-middle text-center">
                              {% if order.status == 'Pending' %}
                                <span class="badge badge-primary list-group"><i class="fas fa-exclamation-triangle mr-1"></i> {{ order.status }}</span>
                              {% elif order.status == 'Accepted' %}
                                <span class="badge badge-warning list-group"><i class="fas fa-check-circle mr-1"></i> {{ order.status }}</span>
                              {% elif order.status == 'Complete' %}
                                <span class="badge badge-success list-group"><i class="fas fa-check-double mr-1"></i> {{ order.status }}</span>
                              {% else %}
                                <span>{{ order.status }}</span>
                              {% endif %}
                            </td>
                            <td class="align-middle text-center">
                              <a href="{% url 'order_detail' order.id %}" class="btn btn-info btn-sm btn-icon-split">
                                  <span class="icon text-white-50">
                                      <i class="fas fa-info-circle"></i>
                                  </span>
                                  <span class="text">Detail</span>
                              </a>
                          </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
      </div>

     {% elif request.user.groups.all.0.name == 'Director' %}
     {% elif request.user.groups.all.0.name == 'Finance' %}
     {% endif %}


  {% elif page == 'wechi' %}

    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-info">አንደሉስ Store ወጪ መጠይቅ ዝርዝር</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0">
              <thead>
                  <tr class="bg-info text-white">
                      <th>No</th>
                      <th>Date</th>
                      <th>ጠያቂ</th>
                      <th>Orders</th>
                      <th>የተፈቀደው ብዛት</th>
                      <th>የወጣው ብዛት</th>
                      <th>Status</th>
                      <th>Action</th>
                  </tr>
              </thead>
              <tfoot>
                  <tr>
                      <th>No</th>
                      <th>Date</th>
                      <th>ጠያቂ</th>
                      <th>Orders</th>
                      <th>የተፈቀደው ብዛት</th>
                      <th>የወጣው ብዛት</th>
                      <th>Status</th>
                      <th>Action</th>
                  </tr>
              </tfoot>
              <tbody>
                  {% for order in order_group %}
                  <tr>
                      <td class="align-middle text-center">{{ forloop.counter }}</td>
                      <td class="align-middle text-center ">{{ order.date }}</td>
                      <td class="align-middle text-center">{{ order.order_by }}</td>
                      <td class="align-middle">
                        <ul class="list-group">
                          {% for product in order.orders.all %}
                            <li class="list-group-item">
                                {% if product.books %}
                                {{ product.books }} - Qty: {{ product.subunit_quantity }}
                                {% elif product.items %}
                                {{ product.items }} - Qty: {{ product.subunit_quantity }} 
                                {% endif %}
                            </li>
                          {% endfor %}
                        </ul>
                      </td>
                      <td class="align-middle text-center">
                        <ul class="list-group">
                          {% for product in order.orders.all %}
                            <li class="list-group-item">
                                {% if product.books %}
                                Qty -{{ product.confirmed_quantity }}
                                {% elif product.items %}
                                Qty - {{ product.confirmed_quantity }} 
                                {% endif %}
                            </li>
                          {% endfor %}
                        </ul>
                      </td>
                      <td class="align-middle text-center">
                        <ul class="list-group">
                          {% for product in order.orders.all %}
                            <li class="list-group-item">
                                {% if product.books %}
                                Qty - {{ product.issued_quantity }}
                                {% elif product.items %}
                                Qty - {{ product.issued_quantity }} 
                                {% endif %}
                            </li>
                          {% endfor %}
                        </ul>
                        
                      </td>
                      <td class="align-middle text-center ">
                        {% if order.status == 'Pending' %}
                          <span class="badge badge-primary list-group"><i class="fas fa-exclamation-triangle mr-1"></i> {{ order.status }}</span>
                        {% elif order.status == 'Accepted' %}
                          <span class="badge badge-warning list-group"><i class="fas fa-check-circle mr-1"></i> {{ order.status }}</span>
                        {% elif order.status == 'Complete' %}
                          <span class="badge badge-success list-group"><i class="fas fa-check-double mr-1"></i> {{ order.status }}</span>
                        {% else %}
                          <span>{{ order.status }}</span>
                        {% endif %}  
                      </td>
                      <td class="align-middle text-center">
                          <a href="{% url 'order_detail' order.id %}" class="btn btn-info btn-sm btn-icon-split">
                              <span class="icon text-white-50">
                                  <i class="fas fa-info-circle"></i>
                              </span>
                              <span class="text">Detail</span>
                          </a>
                      </td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>
      
      </div>
    </div>
  {% endif %}
</div>
<!-- /.container-fluid -->
{% endblock %}
