{% extends 'base.html' %} 
{% block title %}Andelus | Order detail{% endblock %} 
{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">
<!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Andelus Store Order Detail</h1>
        {% if order.order_type == 'incoming' %}
            {% if request.user.groups.all.0.name == 'Custodian' or request.user.groups.all.0.name == 'Manager' %}
                <a href="#" data-toggle="modal" data-target="#generate_report" data-type="ገቢ Request" data-url="{% url 'gebi_report' order.id %}" class="btn btn-sm btn-info shadow-sm report-btn">
                    <i class="fas fa-download fa-sm text-white-50"></i> Download Order
                </a>
            {% endif %}
        {% elif order.order_type == 'outgoing' %}
               <a href="#" data-toggle="modal" data-target="#generate_report" data-type="ወጪ Request" data-url="{% url 'wechi_report' order.id%}" class="btn btn-sm btn-info shadow-sm report-btn">
                    <i class="fas fa-download fa-sm text-white-50"></i> Download Request
                </a>
        {% endif %}
    </div>
    {% if request.user.groups.all.0.name == 'Custodian' %}
        <!-- Products -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <div class="col-md-12">
                    <div class="d-flex justify-content-between">
                        <div class="order-detail">

                            <span class="ml-2"><strong>Status:</strong>
                                {% if order.status == 'Pending' %}
                                <span class="badge badge-info badge-lg">{{ order.status }}</span>
                                {% elif order.status == 'Accepted' %}
                                <span class="badge badge-warning badge-lg">{{ order.status }}</span>
                                {% elif order.status == 'Complete' %}
                                <span class="badge badge-success badge-lg">{{ order.status }}</span>
                                {% endif %}
                            </span>
                        </div>
                        <div class="order-detail">
                            <i class="fas fa-tags"></i>
                            <span class="ml-2"><strong>Order Type:</strong> {{ order.order_type }}</span>
                        </div>
                        <div class="order-detail">
                            <i class="fas fa-user"></i>
                            <span class="ml-2"><strong>Requested By:</strong> {{ order.order_by }}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card shadow mb-4">
                <div class="card-body">
                    <div class="row">
                        {% for product in order.orders.all %}
                            <div class="col-md-6 mb-4">
                                <div class="card">
                                    <div class="card-header bg-info text-white">
                                        <h5 class="card-title mb-0">
                                            {% if product.is_book %}
                                                Book: {{ product.books.book_name }}
                                            {% elif product.is_item %}
                                                Item: {{ product.items.item_name }}
                                            {% endif %}
                                        </h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <img src="{% if product.is_book %}{{ product.books.image.url }}{% elif product.is_item %}{{ product.items.image.url }}{% endif %}" class="img-fluid" alt="{% if product.is_book %}{{ product.books.book_name }}{% elif product.is_item %}{{ product.items.item_name }}{% endif %}">
                                            </div>
                                            <div class="col-md-6">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-2">
                                                                <i class="fas fa-shopping-cart"></i>
                                                            </div>
                                                            <div class="col-10">
                                                                <p class="card-text"><strong>Quantity:</strong> {{ product.quantity }}</p>
                                                            </div>
                                                        </div>
                                                        <hr>
                                                        <div class="row">
                                                            <div class="col-2">
                                                                <i class="fas fa-ruler"></i>
                                                            </div>
                                                            <div class="col-10">
                                                                <p class="card-text"><strong>Unit:</strong> {{ product.unit }}</p>
                                                            </div>
                                                        </div>
                                                    {% if product.subunit %}
                                                            <hr>
                                                            <div class="row">
                                                                <div class="col-2">
                                                                    <i class="fas fa-cubes"></i>
                                                                </div>
                                                                <div class="col-10">
                                                                    <p class="card-text"><strong>Subunit:</strong> {{ product.subunit }}</p>
                                                                </div>
                                                            </div>
                                                            <hr>
                                                            <div class="row">
                                                                <div class="col-2">
                                                                    <i class="fas fa-layer-group"></i>
                                                                </div>
                                                                <div class="col-10">
                                                                    <p class="card-text"><strong>Subunit Quantity:</strong> {{ product.subunit_quantity }}</p>
                                                                </div>
                                                            </div>
                                                    {% endif %}
                                                           
                                                        <!-- Added issued quantity input field and confirmed quantity inside a conditional statement -->
                                                    {% if product.order_type == 'outgoing' %}
                                                        <!-- Added confirmed quantity -->
                                                        <hr>
                                                        <div class="row">
                                                            <div class="col-2">
                                                                <i class="fas fa-check"></i>
                                                            </div>
                                                            <div class="col-10">
                                                                <p class="card-text"><strong>Confirmed Quantity:</strong> {{ product.confirmed_quantity }}</p>
                                                            </div>
                                                        </div>
                                                        <!-- Added issued quantity input field -->
                                                        <hr>
                                                        <div class="row">
                                                            <div class="col-2">
                                                                <i class="fas fa-boxes"></i>
                                                            </div>
                                                            <div class="col-10">
                                                                <label for="issuedQuantity">Issued Quantity:</label>
                                                                <input type="number" id="issuedQuantity{{ product.id }}" class="form-control issued-quantity-input" data-product-id="{{ product.id }}" name="confirmed_quantity" value="{{ product.issued_quantity }}" data-confirmed-quantity="{{ product.confirmed_quantity }}" >
                                                            </div>
                                                        </div>
                                                    {% else %}
                                                        <hr>
                                                        <div class="row">
                                                            <div class="col-2">
                                                                <i class="fas fa-rueler">&#x1F4B0;</i>
                                                            </div>
                                                            <div class="col-10">
                                                                <p class="card-text"><strong>Unit Price:</strong> {{ product.unit_price }}</p>
                                                            </div>
                                                        </div>
                                                         <hr>
                                                        <div class="row">
                                                            <div class="col-2">
                                                                <i class="fas fa-rueler">&#x1F4B0;</i>
                                                            </div>
                                                            <div class="col-10">
                                                                <p class="card-text"><strong>Total Price:</strong> {{ product.price }}</p>
                                                            </div>
                                                        </div>
                                                         <hr>
                                                        <div class="row">
                                                            <div class="col-2">
                                                                <i class="fas fa-rueler">&#x1F4B0;</i>
                                                            </div>
                                                            <div class="col-10">
                                                                <p class="card-text"><strong>Total Price(Tax):</strong> {{ product.total_price }}</p>
                                                            </div>
                                                        </div>
                                                    {% endif %}

                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="card-footer text-center">
                    {% if order.order_type == 'outgoing' and order.status != 'Complete' %}
                        <button type="button" class="btn btn-info" onclick="issueAllQuantities()"> <i class="fas fa-check"></i> Complete Order</button>
                    {% elif order.order_type == 'outgoing' and order.status == 'Complete' %}
                        <button type="button" class="btn btn-info" onclick="issueAllQuantities()"> <i class="fas fa-check"></i> Update Order</button>       
                    {% endif %}
                </div>
            </div>
        </div>

    {% elif request.user.groups.all.0.name == 'Director' %}
          <!-- Products -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <div class="col-md-12">
                    <div class="d-flex justify-content-between">
                        <div class="order-detail">

                            <span class="ml-2"><strong>Status:</strong>
                                {% if order.status == 'Pending' %}
                                <span class="badge badge-info badge-lg">{{ order.status }}</span>
                                {% elif order.status == 'Accepted' %}
                                <span class="badge badge-warning badge-lg">{{ order.status }}</span>
                                {% elif order.status == 'Complete' %}
                                <span class="badge badge-success badge-lg">{{ order.status }}</span>
                                {% endif %}
                            </span>
                        </div>
                        <div class="order-detail">
                            <i class="fas fa-tags"></i>
                            <span class="ml-2"><strong>Order Type:</strong> {{ order.order_type }}</span>
                        </div>
                        <div class="order-detail">
                            <i class="fas fa-user"></i>
                            <span class="ml-2"><strong>Requested By:</strong> {{ order.order_by }}</span>
                        </div>
                    </div>
                </div>
            </div>
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="row">
                            {% for product in order.orders.all %}
                                <div class="col-md-6 mb-4">
                                    <div class="card">
                                        <div class="card-header bg-info text-white">
                                            <h5 class="card-title mb-0">
                                                {% if product.is_book %}
                                                    Book: {{ product.books.book_name }}
                                                {% elif product.is_item %}
                                                    Item: {{ product.items.item_name }}
                                                {% endif %}
                                            </h5>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <img src="{% if product.is_book %}{{ product.books.image.url }}{% elif product.is_item %}{{ product.items.image.url }}{% endif %}" class="img-fluid" alt="{% if product.is_book %}{{ product.books.book_name }}{% elif product.is_item %}{{ product.items.item_name }}{% endif %}">
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <div class="row">
                                                                <div class="col-2">
                                                                    <i class="fas fa-shopping-cart"></i>
                                                                </div>
                                                                <div class="col-10">
                                                                    <p class="card-text"><strong>Quantity:</strong> {{ product.quantity }}</p>
                                                                </div>
                                                            </div>
                                                            <hr>
                                                            <div class="row">
                                                                <div class="col-2">
                                                                    <i class="fas fa-ruler"></i>
                                                                </div>
                                                                <div class="col-10">
                                                                    <p class="card-text"><strong>Unit:</strong> {{ product.unit }}</p>
                                                                </div>
                                                            </div>
                                                        {% if product.subunit %}
                                                                <hr>
                                                                <div class="row">
                                                                    <div class="col-2">
                                                                        <i class="fas fa-cubes"></i>
                                                                    </div>
                                                                    <div class="col-10">
                                                                        <p class="card-text"><strong>Subunit:</strong> {{ product.subunit }}</p>
                                                                    </div>
                                                                </div>
                                                                <hr>
                                                                <div class="row">
                                                                    <div class="col-2">
                                                                        <i class="fas fa-layer-group"></i>
                                                                    </div>
                                                                    <div class="col-10">
                                                                        <p class="card-text"><strong>Subunit Quantity:</strong> {{ product.subunit_quantity }}</p>
                                                                    </div>
                                                                </div>
                                                        {% endif %}
                                                            <!-- Added confirmed quantity -->
                                                            <hr>
                                                            <div class="row">
                                                                <div class="col-2">
                                                                    <i class="fas fa-check"></i>
                                                                </div>
                                                                <div class="col-10">
                                                                    <p class="card-text"><strong>Confirmed Quantity:</strong> {{ product.confirmed_quantity }}</p>
                                                                </div>
                                                            </div>
                                                            <!-- Added issued quantity input field -->
                                                            <hr>
                                                            <div class="row">
                                                                <div class="col-2">
                                                                    <i class="fas fa-boxes"></i>
                                                                </div>
                                                                <div class="col-10">
                                                                    <p class="card-text"><strong>Issued Quantity:</strong> {{ product.issued_quantity }}</p>
                                                                    </div>
                                                            </div>
                                                            {% if order.status == 'Pending'  %}
                                                                <hr>
                                                                <div class="col-md-12 text-center">
                                                                    <button type="button" class="btn btn-danger btn-sm mt-2" data-toggle="modal" data-target="#removeOrderModal" data-product-id="{{ product.id }}"><i class="fas fa-trash"></i> Cancel My Order</button>
                                                                </div>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        {% if order.order_type == 'outgoing' and order.status == 'Complete' %}
                            <button type="button" class="btn btn-info" onclick="issueAllQuantities()"> <i class="fas fa-download"></i> Download report</button> 
                        {% endif %}
                    </div>
                </div>
        </div>
   

    {% elif request.user.groups.all.0.name == 'Manager' %}
         <!-- Products -->
         <div class="card shadow mb-4">
            <div class="card-header py-3">
                <div class="col-md-12">
                    <div class="d-flex justify-content-between">
                        <div class="order-detail">

                            <span class="ml-2"><strong>Status:</strong>
                                {% if order.status == 'Pending' %}
                                <span class="badge badge-info badge-lg">{{ order.status }}</span>
                                {% elif order.status == 'Accepted' %}
                                <span class="badge badge-warning badge-lg">{{ order.status }}</span>
                                {% elif order.status == 'Complete' %}
                                <span class="badge badge-success badge-lg">{{ order.status }}</span>
                                {% endif %}
                            </span>
                        </div>
                        <div class="order-detail">
                            <i class="fas fa-tags"></i>
                            <span class="ml-2"><strong>Order Type:</strong> {{ order.order_type }}</span>
                        </div>
                        <div class="order-detail">
                            <i class="fas fa-user"></i>
                            <span class="ml-2"><strong>Requested By:</strong> {{ order.order_by }}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card shadow mb-4">
                <div class="card-body">
                    <div class="row">
                        {% for product in order.orders.all %}
                            <div class="col-md-6 mb-4">
                                <div class="card">
                                    <div class="card-header bg-info text-white">
                                        <h5 class="card-title mb-0">
                                            {% if product.is_book %}
                                                Book: {{ product.books.book_name }}
                                            {% elif product.is_item %}
                                                Item: {{ product.items.item_name }}
                                            {% endif %}
                                        </h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <img src="{% if product.is_book %}{{ product.books.image.url }}{% elif product.is_item %}{{ product.items.image.url }}{% endif %}" class="img-fluid" alt="{% if product.is_book %}{{ product.books.book_name }}{% elif product.is_item %}{{ product.items.item_name }}{% endif %}">
                                            </div>
                                            <div class="col-md-6">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-2">
                                                                <i class="fas fa-shopping-cart"></i>
                                                            </div>
                                                            <div class="col-10">
                                                                <p class="card-text"><strong>Quantity:</strong> {{ product.quantity }}</p>
                                                            </div>
                                                        </div>
                                                        <hr>
                                                        <div class="row">
                                                            <div class="col-2">
                                                                <i class="fas fa-ruler"></i>
                                                            </div>
                                                            <div class="col-10">
                                                                <p class="card-text"><strong>Unit:</strong> {{ product.unit }}</p>
                                                            </div>
                                                        </div>
                                                    {% if product.subunit %}
                                                            <hr>
                                                            <div class="row">
                                                                <div class="col-2">
                                                                    <i class="fas fa-cubes"></i>
                                                                </div>
                                                                <div class="col-10">
                                                                    <p class="card-text"><strong>Subunit:</strong> {{ product.subunit }}</p>
                                                                </div>
                                                            </div>
                                                            <hr>
                                                            <div class="row">
                                                                <div class="col-2">
                                                                    <i class="fas fa-layer-group"></i>
                                                                </div>
                                                                <div class="col-10">
                                                                    <p class="card-text"><strong>Subunit Quantity:</strong> {{ product.subunit_quantity }}</p>
                                                                </div>
                                                            </div>
                                                    {% endif %}
                                                        <!-- Added issued quantity input field and confirmed quantity inside a conditional statement -->
                                                    {% if product.order_type == 'outgoing' %}
                                                        <!-- Added issued quantity input field -->
                                                        <hr>
                                                        <div class="row">
                                                            <div class="col-2">
                                                                <i class="fas fa-boxes"></i>
                                                            </div>
                                                            <div class="col-10">
                                                                <p class="card-text"><strong>Quantity Issue:</strong> {{ product.issued_quantity }}</p>
                                                            </div>
                                                        </div>
                                                         <!-- Added confirmed quantity -->
                                                         <hr>
                                                         <div class="row">
                                                             <div class="col-2">
                                                                 <i class="fas fa-check"></i>
                                                             </div>
                                                             <div class="col-10">
                                                                <label for="confirmedQuantity{{ product.id }}" class="form-label">Quantity Conf:</label>
                                                                <input type="number" class=" text-center form-control mb-2 confirmed-quantity-input" id="confirmedQuantity{{ product.id }}" data-product-id="{{ product.id }}" name="confirmed_quantity" {% if order.status == 'Pending'%}value="{{product.quantity}}"{% else %}value="{{product.confirmed_quantity}}"{%endif%}>
                                                                 </div>
                                                         </div>
                                                    {% endif %}

                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="card-footer text-center">
                    {% if order.order_type == 'outgoing'%}
                        {% if order.status == 'Complete' or order.status == 'Accepted'  %}
                            <button type="button" class="btn btn-info" onclick="confirmAllQuantities()"><i class="fas fa-check"></i> Update Confirmed Quanitty</button>      
                    
                        {% elif order.order_type == 'outgoing' and order.status != 'Complete' %}
                             <button type="button" class="btn btn-info" onclick="confirmAllQuantities()"><i class="fas fa-check"></i> Confirm Quantities</button>   
                        {% endif %}
                  
                    {% endif %}
                </div>
            </div>
        </div>
{% comment %} 
    <!-- Products -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="col-md-12">
                <div class="d-flex justify-content-between">
                    <div class="order-detail">
                        
                        <span class="ml-2"><strong>Status:</strong> 
                            {% if order.status == 'Pending' %}
                                <span class="badge badge-info badge-lg">{{ order.status }}</span>
                            {% elif order.status == 'Accepted' %}
                                <span class="badge badge-warning badge-lg">{{ order.status }}</span>
                            {% elif order.status == 'Complete' %}
                                <span class="badge badge-success badge-lg">{{ order.status }}</span>
                            {% endif %}
                        </span>
                    </div>
                    <div class="order-detail">
                        <i class="fas fa-tags"></i>
                        <span class="ml-2"><strong>Order Type:</strong> {{ order.order_type }}</span>
                    </div>
                    <div class="order-detail">
                        <i class="fas fa-user"></i>
                        <span class="ml-2"><strong>Requested By:</strong> {{ order.order_by }}</span>
                    </div>
                </div>
            </div></div>
        
        <div class="container mt-5">
            <div class="row">
                {% for product in order.orders.all %}
                    <div class="col-md-4">
                        <div class="product-card">
                            <div class="image-container">
                                <img src="{% if product.is_book %}{{ product.books.image.url }}{% elif product.is_item %}{{ product.items.image.url }}{% endif %}" class="card-img-top product-image" alt="{% if product.is_book %}{{ product.books.book_name }}{% elif product.is_item %}{{ product.items.item_name }}{% endif %}">
                            </div>
                            <div class="product-details">
                                <h5 class="card-title">
                                    {% if product.is_book %}
                                        {{ product.books.book_name }}
                                    {% elif product.is_item %}
                                        {{ product.items.item_name }}
                                    {% endif %}
                                </h5>
                                <p class="card-text"><strong>Quantity:</strong> {{ product.quantity }}</p>
                                <p class="card-text"><strong>Unit:</strong> {{ product.unit }}</p>
                                <p class="card-text"><strong>Confirmed Quantity:</strong> {{ product.confirmed_quantity }}</p>
                                <p class="card-text"><strong>Confirmed Undddit:</strong> {{ product.confirmed_unit }}</p>
                            </div>
                            <div class="confirm-section">
                                <label for="confirmedQuantity{{ product.id }}" class="form-label">Confirm Quantity:</label>
                                <input type="number" class="form-control mb-2 confirmed-quantity-input" id="confirmedQuantity{{ product.id }}" data-product-id="{{ product.id }}" name="confirmed_quantity" value="{{product.confirmed_quantity}}" max="{{ product.confirmed_quantity }}">
                                <!-- Remove the individual submit button -->
                            </div>
                        </div>
                    </div>
                {% endfor %}
                
            </div>
            
        </div>
        
    </div>
    <div class="text-center">
        <button type="button" class="btn btn-info" onclick="confirmAllQuantities()">Confirm Quantities</button>
    </div>
         {% endcomment %}
        {% endif %}
</div>



<!-- Add this modal structure at the end of your HTML body -->
<div class="modal fade" id="removeOrderModal" tabindex="-1" role="dialog" aria-labelledby="removeOrderModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="removeOrderModalLabel">Remove Order Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to remove this order?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" id="confirmRemoveOrderBtn">Remove</button>
            </div>
        </div>
    </div>
</div>


 <!-- For Repor of book and item -->
 <script>
    $(document).on('click', '.report-btn', function() {
        var type = $(this).data('type');
        var url = $(this).data('url');
        $('#download_report_btn').attr('href', url).text('Download ' + type.charAt(0).toUpperCase() + type.slice(1) );
    });
  </script>


<script>

    function confirmAllQuantities() {
        var orderGroupId = {{ order.id }};
        var confirmedQuantities = [];
    
        // Collect confirmed quantities for all products
        $(".confirmed-quantity-input").each(function() {
            var productId = $(this).data("product-id");
            var quantity = $(this).val();
            confirmedQuantities.push({ productId: productId, quantity: quantity });
        });
    
        // Get the CSRF token from the cookie
        var csrftoken = getCookie('csrftoken');
    
        // AJAX call to send data to the server
        $.ajax({
            type: "POST",
            url: "{% url 'confirm_all_quantities' %}",  // Replace with your actual URL
            data: {
                ordergroup_id: orderGroupId,
                confirmed_quantities: JSON.stringify(confirmedQuantities),  // Serialize the array to JSON
                csrfmiddlewaretoken: csrftoken  // Include the CSRF token in the data
            },
            success: function(response) {
                console.log(response);
                location.reload(true);

                // Reload only the content within the container with ID "order-details-container"
                $("#order-details-container").load(window.location.href + " #order-details-container");
                    window.location.href = "{% url 'orders' %}?p=wechi";
                // Handle any additional actions after reloading
                // ...
    
            },
            error: function(xhr, textStatus, errorThrown) {
                console.log("Error:", textStatus, errorThrown);
                console.log("Response:", xhr.responseText);
            }
        });
    }


    function issueAllQuantities() {
        var orderGroupId = {{ order.id }};
        var issuedQuantities = [];
        var validationError = false;
        var invalidProductId = null;
        
        // Collect confirmed quantities for all products
        $(".issued-quantity-input").each(function() {
            var productId = $(this).data("product-id");
            var quantity = $(this).val();
            var confirmedQuantity = $(this).data("confirmed-quantity"); // Get confirmed quantity from data attribute
        
            // Validate quantity
            if (parseInt(quantity) > parseInt(confirmedQuantity)) {
               // alert("Issued quantity cannot exceed confirmed quantity for product ID: " + productId);
                validationError = true;
                invalidProductId = productId; // Store the ID of the invalid product
                return false; // Exit the loop
            }
        
            issuedQuantities.push({ productId: productId, quantity: quantity });
        });
        
        if (validationError) {
            // Highlight or display error message for the invalid input
            $(".issued-quantity-input[data-product-id='" + invalidProductId + "']").addClass("is-invalid");
            return; // Exit the function if validation error occurs
        }
        
        // Get the CSRF token from the cookie
        var csrftoken = getCookie('csrftoken');
    
        // AJAX call to send data to the server
        $.ajax({
            type: "POST",
            url: "{% url 'issue_quantities' %}",  // Replace with your actual URL
            data: {
                ordergroup_id: orderGroupId,
                issued_quantities: JSON.stringify(issuedQuantities),  // Serialize the array to JSON
                csrfmiddlewaretoken: csrftoken  // Include the CSRF token in the data
            },
            success: function(response) {
                console.log(response);
                location.reload(true);

                
                // Reload only the content within the container with ID "order-details-container"
                $("#order-details-container").load(window.location.href + " #order-details-container");
                    window.location.href = "{% url 'orders' %}?p=wechi";
                // ...
    
            },
            error: function(xhr, textStatus, errorThrown) {
                console.log("Error:", textStatus, errorThrown);
                console.log("Response:", xhr.responseText);
                alert("Error: " + xhr.responseJSON.error); // Display the error message to the user
            }
        });
    }
    
    // Function to get CSRF token from cookie
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Check if the cookie name matches the expected pattern
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    // Add this script at the end of your JavaScript file or inside <script> tags
    $(document).ready(function() {
        var productIdToRemove;
    
        // Handle modal show event
        $('#removeOrderModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            productIdToRemove = button.data('product-id'); // Extract product ID from data-* attributes
        });
    
        // Handle remove button click inside the modal
        $('#confirmRemoveOrderBtn').on('click', function() {
            var orderGroupId = {{ order.id }};
            // Perform AJAX request to remove the order
            $.ajax({
                type: "POST",
                url: "{% url 'remove_order' %}",
                data: {
                    ordergroup_id: orderGroupId,
                    product_id: productIdToRemove,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(response) {
                    console.log(response);
                    if (response.success) {
                        // Redirect to the specified URL
                        window.location.href = "{% url 'orders' %}?p=wechi";
                    }
                    else{
                        location.reload(true);
                    }
                    // Close the modal after removal
                    $('#removeOrderModal').modal('hide');
                },
                error: function(error) {
                    console.log(error);
                    // Handle the error here
                }
            });
        });
    });
    

</script>


{% endblock %}
