{% extends 'base.html' %} 
{% block title %}Andelus | Order{% endblock %} 
{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
  {% if page == 'gebi' %}
  <!-- Page Heading -->
     <div class="d-sm-flex align-items-center justify-content-between mb-4">
       <h1 class="h3 mb-0 text-gray-800">አንደሉስ Store ገቢ መጠይቅ ዝርዝር </h1>
      {% if page == 'book' %}
      <a href="#"  data-toggle="modal" data-target="#add_new_book" class="d-none d-sm-inline-block btn btn-sm btn-info shadow-sm"><i
       class="fas fa-plus fa-sm text-white-50"></i> Add New Book</a>
       {% elif page == 'item' %}
     <a href="#"  data-toggle="modal" data-target="#add_new_item" class="d-none d-sm-inline-block btn btn-sm btn-info shadow-sm"><i
             class="fas fa-plus fa-sm text-white-50"></i> Add New Item</a>
     {% endif %}
     </div>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-info">Orders ( ገቢ )</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-bordered"
          id="dataTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th>No</th>
              <th>Orders</th>
              <th>Order Date</th>
              <th>Order For</th>
              <th>Ordered By</th>
              <th>Recieved By</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>No</th>
              <th>Orders</th>
              <th>Order Date</th>
              <th>Order For</th>
              <th>Ordered By</th>
              <th>Recieved By</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </tfoot>
          <tbody>
            {% for order in order_group %}
            <tr>
              {% comment %} <td class="align-middle text-center"><img src={{book.books.image.url}} width="200px"></td> {% endcomment %}
              {% comment %} <td class="align-middle text-center">{{book.books.book_name}}</td> {% endcomment %}
              <td class="align-middle text-center">
                {{forloop.counter}}
                </td>
              <td class="align-left text-left">
                {%for product in order.orders.all%}
                  {% if product.books %}
                    {{forloop.counter}}, {{product.books}} - {{product.quantity}} qty (Book)
                  {%elif product.items %} 
                    {{forloop.counter}},{{product.items}}  (Item)
                  {%endif%}
                <br>
            
              {%endfor%}</td>
              <td class="align-middle text-center">{{order.date}}</td>
              <td class="align-middle text-center">{{order.order_for}}</td>
              <td class="align-middle text-center">{{order.order_by}}</td>
              <td class="align-middle text-center">{{order.recieved_by}}</td>
              <td class="align-middle text-center">{{order.status}}</td>
              <td class="align-middle text-center">
            <a href="{% url 'order_detail' order.id%}" class="btn btn-info btn-icon-split">
              <span class="icon text-white-50">
                  <i class="fas fa-info-circle"></i>
              </span>
              <span class="text">Detail</span>
          </a>
          </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  {% elif page == 'wechi' %}

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">አንደሉስ Store ወጪ መጠይቅ ዝርዝር </h1>
   {% if page == 'book' %}
   <a href="#"  data-toggle="modal" data-target="#add_new_book" class="d-none d-sm-inline-block btn btn-sm btn-info shadow-sm"><i
    class="fas fa-plus fa-sm text-white-50"></i> Add New Book</a>
    {% elif page == 'item' %}
  <a href="#"  data-toggle="modal" data-target="#add_new_item" class="d-none d-sm-inline-block btn btn-sm btn-info shadow-sm"><i
          class="fas fa-plus fa-sm text-white-50"></i> Add New Item</a>
  {% endif %}
</div>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-info">Orders ( ወጪ )</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-bordered"
          id="dataTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th>No</th>
              <th>Orders</th>
              <th>Order Date</th>
              <th>Order For</th>
              <th>Ordered Byy</th>
              <th>Action</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>No</th>
              <th>Orders</th>
              <th>Order Date</th>
              <th>Order For</th>
              <th>Ordered Byy</th>
              <th>Action</th>
            </tr>
          </tfoot>
          <tbody>
            {% for order in order_group %}
            <tr>
              {% comment %} <td class="align-middle text-center"><img src={{book.books.image.url}} width="200px"></td> {% endcomment %}
              {% comment %} <td class="align-middle text-center">{{book.books.book_name}}</td> {% endcomment %}
              <td class="align-middle text-center">
                {{forloop.counter}}
                </td>
              <td class="align-left text-left">
                {%for product in order.orders.all%}
                  {% if product.books %}
                    {{forloop.counter}}, {{product.books}} - {{product.quantity}} qty (Book)
                  {%elif product.items %} 
                    {{forloop.counter}},{{product.items}}  (Item)
                  {%endif%}
                <br>
            
              {%endfor%}</td>
              <td class="align-middle text-center">{{order.date}}</td>
              <td class="align-middle text-center">{{order.order_for}}</td>
              <td class="align-middle text-center">{{order.order_by}}</td>
              <td class="align-middle text-center">{{order.recieved_by}}</td>
              <td class="align-middle text-center">{{order.status}}</td>
              <td class="align-middle text-center">
            <a href="{% url 'order_detail' order.id%}" class="btn btn-info btn-icon-split">
              <span class="icon text-white-50">
                  <i class="fas fa-info-circle"></i>
              </span>
              <span class="text">Detail</span>
          </a>
          </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>


  {% endif %}

</div>
<!-- /.container-fluid -->




    <!-- add book Modal form-->
    <div class="modal fade" id="add_new_book" tabindex="-1" role="dialog" aria-labelledby="add_newb"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="add_newb">Add new Book </h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Fill the following form to add Book.</div>
                <form method="post" action="{% url 'add_book' %}" enctype="multipart/form-data">
                  {% csrf_token %}

                  {{ book_form.as_p }}
                  
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary" type="submit" >Add</button>
                </div>
              </form>
            </div>
        </div>
    </div>

    <!-- add item Modal form-->
    <div class="modal fade" id="add_new_item" tabindex="-1" role="dialog" aria-labelledby="add_newi"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="add_newi">Add new item </h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Fill the following form to add Book.</div>
                <form method="post" action="{% url 'add_item' %}" enctype="multipart/form-data">
                  {% csrf_token %}

                  {{ item_form.as_p }}
                  
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary" type="submit" >Add</button>
                </div>
              </form>
            </div>
        </div>
    </div>


{% endblock %}
