{% extends 'base.html' %} 
{% block title %}Andelus | Order{% endblock %} 
{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
     <!-- Page Heading -->
     <div class="d-sm-flex align-items-center justify-content-between mb-4">
       <h1 class="h3 mb-0 text-gray-800">Andelus Store Order Detail </h1>
       <a href="#"  data-toggle="modal" data-target="#add_new_book" class="d-none d-sm-inline-block btn btn-sm btn-info shadow-sm"><i
        class="fas fa-arrow fa-sm text-white-50"></i> Dwonload report</a>
 </div>

  {% for product in order.orders.all %}
  <div class="card mb-3" style="max-width: 100%;">
    <div class="row no-gutters">
      <div class="col-md-4">
        {% if product.is_book %}
        <img src="{{product.books.image.url}}" class="card-img" alt="...">
        {% elif product.is_item %}
        <img src="{{product.items.image.url}}" class="card-img" alt="...">
        {% endif %}
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title text-start text-md-center">
            {% if product.is_book %}
            {{product.books.book_name}}</h5>
            {% elif product.is_item %}
            {{product.items.item_name}}</h5>
            {%endif%}
           <!-- unit -->
           <p class="text-start text-md-center">
            Quantity: <strong>{{product.quantity}}  </strong>
          </p>
           <p class="text-start text-md-center">
            Unit: <strong>{{product.unit}}  </strong>
          </p>
          <!-- Price -->
          <!-- Price -->
          <p class="text-start text-md-center">
             Unit Price: <strong>{{product.price}}  </strong>ብር
            <p class="text-start text-md-center">
              Total Price: <strong>{{ product.total_price }} ብር</strong>
            </p>
          </p> <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
  {%endfor%}
 

</div>
<!-- /.container-fluid -->




    <!-- add book Modal form-->
    <div class="modal fade" id="add_new_book" tabindex="-1" role="dialog" aria-labelledby="add_newb"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="add_newb">Add new Book </h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Fill the following form to add Book.</div>
                <form method="post" action="{% url 'add_book' %}" enctype="multipart/form-data">
                  {% csrf_token %}

                  {{ book_form.as_p }}
                  
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary" type="submit" >Add</button>
                </div>
              </form>
            </div>
        </div>
    </div>

    <!-- add item Modal form-->
    <div class="modal fade" id="add_new_item" tabindex="-1" role="dialog" aria-labelledby="add_newi"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="add_newi">Add new item </h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Fill the following form to add Book.</div>
                <form method="post" action="{% url 'add_item' %}" enctype="multipart/form-data">
                  {% csrf_token %}

                  {{ item_form.as_p }}
                  
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary" type="submit" >Add</button>
                </div>
              </form>
            </div>
        </div>
    </div>


{% endblock %}
